<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>callingCardImage</key>
		<string>명함1</string>
		<key>introduce</key>
		<string>The tube inside by bicycle tire (inner-tube) got a hole and now I can&apos;t ride the bike. It isn&apos;t a big hole, so I am going to repair it myself. The only problem is that it takes an extremely long time to find the hole. I usually run my finger around the entire tube looking for it, until I eventually find it. This usually takesN 20-30 minutes. There must be an better alternative. What is an easy way to quickly find a hole in a tire tube?The tube inside by bicycle tire (inner-tube) got a hole and now I can&apos;t ride the bike. It isn&apos;t a big hole, so I am going to repair it myself. The only problem is that it takes an extremely long time to find the hole. I usually run my finger around the entire tube looking for it, until I eventually find it. This usually takesN 20-30 minutes. There must be an better alternative. What is an easy way to quickly find a hole in a tire tube?</string>
		<key>owner</key>
		<dict>
			<key>phoneNumber</key>
			<string>010-5964-3129</string>
			<key>profileImage</key>
			<string>사진1</string>
			<key>aboutMe</key>
			<string>올해 선발투수로 활약하려던 참이었지만 부상으로 빠그러졌습니다...ㅠㅠㅠ</string>
			<key>name</key>
			<string>양창섭</string>
		</dict>
	</dict>
	<dict>
		<key>callingCardImage</key>
		<string>명함2</string>
		<key>introduce</key>
		<string>The tube inside by bicycle tire (inner-tube) got a hole and now I can&apos;t ride the bike. It isn&apos;t a big hole, so I am going to repair it myself. The only problem is that it takes an extremely long time to find the hole. I usually run my finger around the entire tube looking for it, until I eventually find it. This usually takesN 20-30 minutes. There must be an better alternative. What is an easy way to quickly find a hole in a tire tube?The tube inside by bicycle tire (inner-tube) got a hole and now I can&apos;t ride the bike. It isn&apos;t a big hole, so I am going to repair it myself. The only problem is that it takes an extremely long time to find the hole. I usually run my finger around the entire tube looking for it, until I eventually find it. This usually takesN 20-30 minutes. There must be an better alternative. What is an easy way to quickly find a hole in a tire tube?</string>
		<key>owner</key>
		<dict>
			<key>phoneNumber</key>
			<string>010-4234-3129</string>
			<key>profileImage</key>
			<string>사진2</string>
			<key>aboutMe</key>
			<string>작년에 홀드 오지게 올리고 올해 선발투수인데 졸라 박살났습니다.</string>
			<key>name</key>
			<string>최충연</string>
		</dict>
	</dict>
	<dict>
		<key>callingCardImage</key>
		<string>명함3</string>
		<key>introduce</key>
		<string>The tube inside by bicycle tire (inner-tube) got a hole and now I can&apos;t ride the bike. It isn&apos;t a big hole, so I am going to repair it myself. The only problem is that it takes an extremely long time to find the hole. I usually run my finger around the entire tube looking for it, until I eventually find it. This usually takesN 20-30 minutes. There must be an better alternative. What is an easy way to quickly find a hole in a tire tube?The tube inside by bicycle tire (inner-tube) got a hole and now I can&apos;t ride the bike. It isn&apos;t a big hole, so I am going to repair it myself. The only problem is that it takes an extremely long time to find the hole. I usually run my finger around the entire tube looking for it, until I eventually find it. This usually takesN 20-30 minutes. There must be an better alternative. What is an easy way to quickly find a hole in a tire tube?</string>
		<key>owner</key>
		<dict>
			<key>phoneNumber</key>
			<string>010-9944-3129</string>
			<key>profileImage</key>
			<string>사진3</string>
			<key>aboutMe</key>
			<string>올해 신인으로 꼭 신인왕이 되고 싶습니다만, 감독님 씨발럼이 너무 개같이 운영합니다.</string>
			<key>name</key>
			<string>원태인</string>
		</dict>
	</dict>
	<dict>
		<key>callingCardImage</key>
		<string>명함4</string>
		<key>introduce</key>
		<string>The tube inside by bicycle tire (inner-tube) got a hole and now I can&apos;t ride the bike. It isn&apos;t a big hole, so I am going to repair it myself. The only problem is that it takes an extremely long time to find the hole. I usually run my finger around the entire tube looking for it, until I eventually find it. This usually takesN 20-30 minutes. There must be an better alternative. What is an easy way to quickly find a hole in a tire tube?The tube inside by bicycle tire (inner-tube) got a hole and now I can&apos;t ride the bike. It isn&apos;t a big hole, so I am going to repair it myself. The only problem is that it takes an extremely long time to find the hole. I usually run my finger around the entire tube looking for it, until I eventually find it. This usually takesN 20-30 minutes. There must be an better alternative. What is an easy way to quickly find a hole in a tire tube?</string>
		<key>owner</key>
		<dict>
			<key>phoneNumber</key>
			<string>010-0104-3129</string>
			<key>profileImage</key>
			<string>사진4</string>
			<key>aboutMe</key>
			<string>한때 윤태자라고도 불리었던 삼성 선발의 자존심.. 하지만 올시즌 계락이 되어 버렸다. 어찌하나.. 10억이나 받고 던지는데 선발이 아니고서야 자존심에 스크래치가 나서 던질 생각을 하지 않으니..</string>
			<key>name</key>
			<string>윤성환</string>
		</dict>
	</dict>
	<dict>
		<key>callingCardImage</key>
		<string>명함5</string>
		<key>introduce</key>
		<string>The tube inside by bicycle tire (inner-tube) got a hole and now I can&apos;t ride the bike. It isn&apos;t a big hole, so I am going to repair it myself. The only problem is that it takes an extremely long time to find the hole. I usually run my finger around the entire tube looking for it, until I eventually find it. This usually takesN 20-30 minutes. There must be an better alternative. What is an easy way to quickly find a hole in a tire tube?The tube inside by bicycle tire (inner-tube) got a hole and now I can&apos;t ride the bike. It isn&apos;t a big hole, so I am going to repair it myself. The only problem is that it takes an extremely long time to find the hole. I usually run my finger around the entire tube looking for it, until I eventually find it. This usually takesN 20-30 minutes. There must be an better alternative. What is an easy way to quickly find a hole in a tire tube?</string>
		<key>owner</key>
		<dict>
			<key>phoneNumber</key>
			<string>010-5024-3129</string>
			<key>profileImage</key>
			<string>사진5</string>
			<key>aboutMe</key>
			<string>백쇼! 삼성 토종 선발의 자존심을 지켜주고 있다. 올해 꼭 10승 이상을 해서 삼성의 플레이오프를 이끌라!</string>
			<key>name</key>
			<string>백정현</string>
		</dict>
	</dict>
</array>
</plist>
